- name: Install OpenVPN
  dnf:
    name: openvpn
    state: present

- name: Install EasyRSA
  dnf:
    name: easy-rsa
    state: present

- name: Copy openvpn server config
  template: "src=server.conf.j2 dest={{ openvpn_dir }}/server.conf"

- name: Create CA directory
  file:
    path: "{{ openvpn_dir }}/ca"
    state: directory

- name: Copy EasyRSA to the CA directory
  shell:
    cmd: cp -rai /usr/share/easy-rsa/3/* "{{ openvpn_dir }}/ca"
    creates: "{{ openvpn_dir }}/ca/easyrsa"

- name: Define RSA variables
  template: src=vars.j2 dest={{ openvpn_dir }}/ca/vars

- name: Init openssl pki
  shell:
    chdir: "{{ openvpn_dir }}/ca"
    cmd: ./easyrsa init-pki
    creates: "{{ openvpn_dir }}/ca/pki"

- name: Generate server certificate request
  shell:
    chdir: "{{ openvpn_dir }}/ca"
    cmd: "./easyrsa gen-req {{ inventory_hostname }} nopass"
    creates: "{{ openvpn_dir }}/ca/pki/private/{{ inventory_hostname }}.key"

- name: Generate a Diffie-Hellman key
  shell:
    chdir: "{{ openvpn_dir }}/ca"
    cmd: ./easyrsa gen-dh
    creates: "{{ openvpn_dir }}/ca/pki/dh.pem"

- name: Generate HMAC signature for server
  shell:
    chdir: "{{ openvpn_dir }}/ca"
    cmd: openvpn --genkey --secret ta.key
    creates: "{{ openvpn_dir }}/ca/ta.key"

- name: Copy sysctl file with ip forwarding enabled
  copy: src=sysctl.conf dest=/etc/sysctl.conf

- name: Load updated sysctl configuration
  shell:
    cmd: sysctl -p

- name: Ensure firewald is enabled
  systemd:
    state: started
    enabled: yes
    name: firewalld

- name: Add https to firewalld
  shell:
    cmd: firewall-cmd --add-service https && firewall-cmd --permanent --add-service https

- name: Enable Maquerade in firewalld
  shell:
    cmd: firewall-cmd --add-masquerade && firewall-cmd --permanent --add-masquerade

- name: Enable forwarding in firewalld
  shell:
    cmd: firewall-cmd --add-forward && firewall-cmd  --permanent--add-forward

- name: Copy siging requests to master
  fetch: "src={{ openvpn_dir }}/ca/pki/reqs/{{ inventory_hostname }}.req dest=tmp/server/reqs/ flat=yes"

- name: Copy ta key to master
  fetch: "src={{ openvpn_dir }}/ca/ta.key dest=tmp/server/keys/ flat=yes"